@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Velkommen</h1>
    <p class="lead">Vha. ASP.NET, har jeg lavet denne applikation der tillader køb af Dine favorit produkter.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Startup</h2>
        <p>
            Er du ny i vores online shop? - Forkæld dig selv med et kig i vores shop.
        </p>
        <p>
            Vi kan udbringe vores produkter til din hoveddør ved @DateTime.Now.AddDays(1).ToString("D") kl. 9 am.
        </p>
    </div>

    <div class="col-md-8">
        <h2>Vores produkter</h2>

        @using (Html.BeginForm())
        {
            @Html.TextBox("searchString");
            <input type="submit" value="Search" />
        }

        <br />

        <table class="table table-striped">
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name;</td>
                    <td>@product.Description;</td>
                    <td>@product.Price;</td>
                    <td>@Html.ActionLink("Details", "Detail", new { id = product.ID })</td>
                </tr>
            }
        </table>
    </div>
</div>